body{
        margin: 0px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    height: 64vh;
    width: 31vw;
    display: flex;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1.6rem;
    font-weight: 500;
    box-shadow:
  1px 0.7px 1.4px rgba(0, 0, 0, 0.018),
  2.3px 1.6px 3.1px rgba(0, 0, 0, 0.026),
  3.9px 2.7px 5.3px rgba(0, 0, 0, 0.032),
  6.1px 4.2px 8.2px rgba(0, 0, 0, 0.038),
  9px 6.2px 12.2px rgba(0, 0, 0, 0.042),
  13.2px 9.2px 17.9px rgba(0, 0, 0, 0.048),
  19.8px 13.7px 26.8px rgba(0, 0, 0, 0.054),
  31.5px 21.9px 42.7px rgba(0, 0, 0, 0.062),
  59px 41px 80px rgba(0, 0, 0, 0.08)
;
/* background: #8e9eab;  
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
background: linear-gradient(to right, #eef2f3, #8e9eab); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.input
{
    height: 3vh ;
    width:17vw ;
    font-weight: 400;
    padding: 0.5rem;
    border-radius: 1.1rem;
    outline: none;
    border-bottom: 2px solid transparent;
}
input:focus{
    border-bottom: 2px solid rgb(2, 117, 103);
}
.btn{
    padding: 1rem;
    height:2vh ;
    width: 6vw;
    justify-content: center;
    align-items: center;
    background-color: #96cbd5;
    border-radius: 1.1rem;
}
nav {
    width:100vw;
    background-color: #96cbd5;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #86abe8;
    color: black;
  }