.footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20%;
}

.flex-item {
  overflow: hidden;
  flex: 1;
  margin: 0 10px;
}

.icons-footer {
  margin-top: 10px; 
}

.icon-container {
  display: flex;
}
