.signup-container{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form {
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3eadcac;
    flex-direction: column;
    height: 59vh;
    width: 26vw;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;  
}
  
  .form-group {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .form-group label {
    display: flex;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width:20vw;
    padding: 10px;
    font-size: 16px;
  }
  
.button-signup {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
  }
  